/* Write your CSS here */
.box{
    background-image:linear-gradient(to bottom,#ff6e7f,#bfe9ff);
    width:200px;
    height:200px;
    display:flex;
    text-align:center;
    flex-direction: column;
    justify-content:center;
}
.button {
    cursor:pointer;
    width:70px;
    
}